/* fallback for 100dvh */

:root {
	--height-100dvh-fallback: 100vh;
	--height-90dvh-fallback: 90vh;
}

@supports (height: 100dvh) {
	:root {
		--height-100dvh-fallback: 100dvh;
		--height-90dvh-fallback: 90dvh;
	}
}

.h-100dvh {
	height: var(--height-100dvh-fallback);
}

.min-h-100dvh {
	min-height: var(--height-100dvh-fallback);
}

.max-h-100dvh {
	max-height: var(--height-100dvh-fallback);
}
